:root {
    --bs-primary-rgb: 39, 51, 58;
    --bs-primary: #27333a;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
}

.navbar {
    --bs-navbar-padding-y: 0.5rem;
}

.navbar-brand img {
    height: 50px;
}
